.footer {
    background-color: #1f1f21;
    color: azure;
    padding: 2rem 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    
      .footer-col.col-info-contact,
      .footer-col.col-info-links,
      .footer-col.col-info-about  {
        flex: 1 1 calc(33.333% - 2rem);
        text-align: right
      }

      .info-contact-tel {
        display: flex;
      }

      .col-social-icons {
        flex: 1 1 100%;
        i {
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
      }
    
      .col-copy {
        flex: 1 1 100%;
        border-top: 1px solid #454545;
        text-align: center;
        font-size: 0.875rem;
        color: #454545;
      }
}